<!doctype html>
<html>
<head>
     <title>Summary Report</title>
     <link rel="stylesheet" type="text/css"
        href="https://da1s119xsxmu0.cloudfront.net/libraries/basestrap/1.0.0/css/master.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12">
                <h1>QIIME Downstream</h1>
                    <div>
                        The results below represent basic diversity analyses
                        based on the rarefaction level that you selected. For
                        more information about the data presented here, please
                        see <a href="http://qiime.org/scripts/core_diversity_analyses.html">
                        <code>core_diversity_analyses.py</code></a>.
                    </div>
                    <div class="alert alert-info">
                        <strong>Warning</strong>
                        The table below is only there to show the results that
                        this application generated, to view the files, please
                        use BaseSpace Downloader (we are working on fixing this
                        problem, see this <u><a href="https://github.com/biocore/basespace-qiime/issues/1">link</a></u>).
                    </div>
                {% for result in session.results %}
                    {% for key in result.files %}

                        {% comment %}
                        I couldn't find a better way to determine which file is
                        corediv-out/index.html so I just grab the first one and
                        assume that's the one ... need to fix this.
                        {% endcomment %}

                        {% if key contains 'index.html' %}
                            {{ result.files[key].content }}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>